<%- include ('./layouts/header') %>  

  <div class="container">
    <main  style="position: relative;">
      <div class="row g-3">
        
        <div class="col-md-5 col-lg-4 order-md-last">
          <div class="card" style="text-align: center;  border: 0ex;" >
            <br>
        </div>
           <div class="container" style="text-align: center; margin:10px auto;">
              <svg xmlns="http://www.w3.org/2000/svg" width="216" height="160" fill="currentColor" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475ZM.879 8C-2.426 1.68 4.41-2 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"/>
              </svg>
           </div>
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3" _msthash="968656" _msttexthash="515554" style="direction: ltr; text-align: left;">Deletar usuario</h4>
          <form class="needs-validation was-validated" method="post" action="/delete">
            <div class="row g-3">

              <div class="col-12">
                <label for="username" class="form-label" _msthash="2296333" _msttexthash="263640" style="direction: ltr; text-align: left;">E-mail user</label>
                <div class="input-group has-validation">
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email user" required _mstplaceholder="263640" style="direction: ltr; text-align: left;">
                <div class="invalid-feedback" _msthash="2592174" _msttexthash="8580156" _msthidden="1">
                  informe o email
                  </div>
                </div>
              </div>

            </div>

            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit" _msthash="1634243" _msttexthash="286871" style="direction: ltr;">Deletar</button>
          </form>
        </div>
      </div>
    </main>
  </div>

<%- include ('./layouts/footer') %>  