
<%- include ('./layouts/header') %>

  <main class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal" _msthash="795236" _msttexthash="253617">Bem-Vindo ao Localiza.ai - GuardasHub</h1>
      <h1 class="display-5 fw-bold" _msthash="483054" _msttexthash="248118">Segurança, tranquilidade e rapidez.</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" _msthash="671606" _msttexthash="40942031">Uma Rede De monitoramente para os guardas do Localiza.ai</p>
      </div>
    </div>
  </div>
  
 
 
  </main>

<%- include ('./layouts/footer') %>  