<%- include ('./layouts/header') %>    

<div style="padding: 20px;">
  <h1 style="padding: 20px;">
    Login
  </h1>
  <div  class="text-center border-primary mb-3" style="padding: 20px;">
    <form action="/login" method="post">
      <div class="mb-3">
        <input name="username" type="text" class="form-control" placeholder="Informe o Usuario" required autofocus>
      </div>
      <div class="mb-3">
        <input name="password" type="password" class="form-control" placeholder="Password" required>
      </div>
      <input type="submit" value="Log in" class="btn btn-primary btn-block">
    </form>
  </div>
</div>




<%- include ('./layouts/footer') %>     